<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>コース情報登録</title>
</head>
<body>
<h1>受講生コース一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>受講生ID</th>
    <th>コース名</th>
    <th>受講開始日</th>
    <th>受講終了日</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentCourses : ${studentCourseList}">
    <td th:text="${studentCourses.id}">1</td>
    <td th:text="${studentCourses.studentId}">1</td>
    <td th:text="${studentCourses.courseName}">Javaコース</td>
    <td th:text="${studentCourses.startDate}">2024.09.12</td>
    <td th:text="${studentCourses.endDate}">2025.03.12</td>
  </tr>
  </tbody>
</table>
<!-- 受講生情報を確認するボタン -->
<button onclick="location.href='/studentList'">受講生情報を確認</button>
</body>
</html>
